.text-center{
    text-align: center;
}
.text-left{
    text-align:left;
}
.text-right{
    text-align: right;
}
.font-28{
    font-size: 28px;
}
.font-16{
    font-size: 16px;
}
.font-30{
    font-size:30px;
}
.font-32{
    font-size:32px;
}
.font-34{
    font-size:34px;
}
.font-35{
    font-size:35px;
}
.font-36{
    font-size:36px;
}
.font-37{
    font-size:37px;
}
.floatRight{
    float:right;
}
.color4A{
    color:#4a4a4a;
}
.noPadding{
    padding: 0!important;
}
.overflowAuto{
    overflow: auto;
}
.about-ico .ico-banner img{
    width:100%;
}
.about-ico .p-title{
    line-height: 120px;
    letter-spacing: 4.67px;
}
.about-ico .row,.ico-progress .row,.ico-ranking .row,.rk-update .row{
    background: #fff;
}
#bannerSwiper,.topImg{
    margin-top: 58px;
}
#bannerSwiper .swiper-slide{
    background: url('../Images/swiper1.jpg');
    background-size:cover;
    background-position: center;
    background-repeat:no-repeat;
    min-height:450px;
}
.projectWrapper .ico-banner{
    background: url('../Images/ico-banner.png');
    background-size:cover;
    background-position: center;
    background-repeat:no-repeat;
    min-height:450px;
}
.p-introduction{
    color:#535353;
    letter-spacing:0;
    line-height:30px;
    margin-bottom:10px;
}
.invest-title{
    font-size:16px;
    color:#4a4a4a;
    letter-spacing:1.33px;
    line-height:45px;
    text-align:left;
}
.invest-content{
    border:1px solid #cacaca;
    line-height: 29px;
    width:calc(100% - 185px);
    float: left;
    margin-top:7px;
}
.in-title{
    float: left;
    width:125px;
}
.invest-content input{
    height: 31px;
    line-height: 29px;
    outline: none;
    padding:0 0 0 12px;
    width:calc(55.5% - 6px);
    border:none;
    border-right:1px solid #cacaca;
    font-size:14px;
    color:#9b9b9b;
    letter-spacing:0;
}
.invest-content input.inputPassword{
    width: 100%;
    border:none;
}
.invest-content.in-text{
    font-size:15px;
    color:#1d9dbf;
    letter-spacing:0;
    line-height:45px;
    border:none;
    margin-top:0;
}
.invest-content.in-text span{
    color:#F6265D;
}
.invest-content.in-text>i{
    margin-right:4px;
    color:#3ebcd0;
}
.invest-content.in-text>label{
    font-weight: normal;
}
.invest-content>div.squaredThree{
    float: left;
    width:12px;
    border:none;
}
.invest-content select{
    width:21.5%;
    border: none;
    border-radius: 0;
    background: none;
    outline: none;
    font-size:14px;
    color:#4a4a4a;
    letter-spacing:0;
    text-align:left;
    height: 31px;
    line-height: 29px;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
}
.invest-content>div{
    width:22.2%;
    float: right;
    border-left:1px solid #cacaca;
    padding-left:15px;
    font-size:14px;
    color:#4a4a4a;
    letter-spacing:0;
    text-align:left;
    height: 31px;
    line-height: 31px;
}
.invest-content>div span{
    color:#0a8bc5;
}
.p-owner{
    text-align: center;
    font-size:18px;
}
.p-owner div{
    line-height: 40px;
}
.marginTop13{
   margin-top:13px;
}
.p-owner img,.t-owner img{
    width: 150px;
}
.p-owner .userN{
    color:#2896C8;
}
.p-owner .like{
    display: inline-block;
    color:#fff;
    background:#ff957f;
    border-radius:100px;
    width:60px;
    height:20px;
    font-size:14px;
    letter-spacing:0;
    line-height:20px;
    text-align:center;
}
.p-owner .like .concerned{
    color:#f00;
}
.p-owner .like .unconcerned{
    color:#fff;
}
.p-owner .like i{
    font-size:14px;
    line-height:22px;
    margin-right:3px;
}
.chatDetail,.catDetail{
    display: block;
    background:#50e2e3;
    border-radius:21px;
    width:180px;
    height:36px;
    line-height:36px;
    font-size:18px;
    color:#4a4a4a;
    letter-spacing:3px;
    text-align:center;
    margin:15px auto 30px auto;
    cursor: pointer;
}
.chatDetail:hover,.chatDetail:focus,.catDetail:hover,.catDetail:focus{
    color:#4a4a4a;
}
.chatDetail i{
    color: #fff;
    font-size: 28px;
    position: absolute;
    right: 50%;
    margin-right: -92px;
    margin-top:1px;
}
.catDetail i{
    color:#0a8bc5;
    position: absolute;
    bottom: 12px;
    left: 50%;
    margin-left: -10px;
    font-size: 20px;
}
.lineHr{
    width:100%;
    height:1px;
    background: #CDCDCD;
}
.ico-progress{
    font-size:18px;
    letter-spacing: 3px;
}
.ico-progress .row{
    padding:55px 0 48px 0;
}
.ico-progress .row .col-xs-12 > div{
    line-height:31px;
}
.ico-progress .floatRight{
    color:#0a8bc5;
}
.remainM{
    width: 274px;
    border: 2px solid #3ebcd0;
    border-radius: 10px;
    height: 60px;
    overflow-y:hidden;
}
.remainM .mLeft{
    float: left;
    width: 135px;
    text-align: center;
}
.remainM .mLeft div{
    font-size: 22px;
    color: #4a4a4a;
    letter-spacing: 3.67px;
    text-align: center;
    line-height: 30px;
    margin: 1px 0 -5px 0;
}
.remainM .mLeft span{
    font-size: 22px;
    color: #1d9dbf;
    letter-spacing: 0;
    text-align: center;
    display: inline-block;
    line-height: 30px;
}
.remainM .mRight{
    background: #3ebcd0;
    width: 135px;
    height: 60px;
    float: left;
    font-size: 22px;
    color: #ffffff;
    letter-spacing: 0;
    line-height: 58px;
    text-align: center;
    position: relative;
}
.remainM .mRight i{
    font-size:26px;
    position: absolute;
    right: 5px;
}
.remainM .mRight span{
    margin-left:-12px;
}
.remainM .mRight a,.remainM .mRight a:hover,.remainM .mRight a:focus{
    color: #fff;
    cursor: pointer;
}
.barWrapper{
    margin-top:45px;
}
.barContentWrapper{
    display: block;
    background:#50e2e3;
    line-height: 20px;
    border-radius:100px;
    max-width:782px;
    width:100%;
    height:12px;
    text-align: center;
    color: #FFF;
    margin:0 auto;
}
.bar{
    background:#0a8bc5;
    border-radius:100px;
    height:20px;
    top: -4px;
    position: absolute;
    line-height: 21px;
    font-size: 16px;
    text-align: right;
    letter-spacing: 0;
    padding-right:4px;
}
.ico-ranking .r-title{
    font-size:28px;
    color:#4a4a4a;
    letter-spacing:4.67px;
    line-height:120px;
    text-align:center;
}
.ico-ranking i{
    color: #3ebcd0;
}
.ico-ranking .rk-title{
    font-size:16px;
    color:#535353;
    letter-spacing:0;
    line-height:45px;
}
.barContent{
    position: absolute;
    color:#fff;
    font-size:16px;
    z-index:-1;
    letter-spacing: 0;
}
.rk-line-content img{
    width:25px;
    margin-right:15px;
    display: inline;
}
.rk-line-content>div,.rk-update {
    font-size:14px;
    color:#535353;
    letter-spacing:0;
    line-height:45px;
    text-align:center;
}
.rk-line-content>div{
    height:45px;
    overflow: hidden;
}
.rk-update .row{
    padding:39px 0 15px 0;
}
.swiper-pagination-bullet{
    border:1px solid #fff;
    background: none;
    width:12px;
    height:12px;
}
.swiper-pagination-bullet-active{
    background: #fff;
}
#bannerSwiper.swiper-container-horizontal>.swiper-pagination-bullets{
    bottom:30px;
}
#icoSwiper img{
    width:100%;
}
#icoSwiper.swiper-container-horizontal>.swiper-pagination-bullets{
    bottom:15px;
}
.ico-more{
    margin:45px 0 48px 0;
}
.ico-more a{
    display: block;
    position: relative;
    background:#fff;
    border:1px solid #50e2e3;
    border-radius:21px;
    max-width:448px;
    width:100%;
    height:34px;
    line-height: 32px;
    margin:0 auto;
    font-size:18px;
    letter-spacing: 10px;
    color:#1d9dbf;
    cursor: pointer;
}
.ico-more i{
    position: absolute;
    bottom: -16px;
    left: 50%;
    margin-left: -14px;
    font-size: 20px;
    color:#50e2e3;
}
.icon-user{
    display: inline-block;
    margin-top: 5px;
}
.topImg{
    /*background-image: url('../Images/ico-banner.png');*/
    background-image: url('../Images/swiper1.jpg');
    background-size:cover;
    background-position: center;
    background-repeat:no-repeat;
    min-height:450px;
}
#ico_invest .topImg{
    background-image: url('../Images/swiper1.jpg');
}
.ico-detail{
    margin-bottom:45px;
}
.ico-detail .row{
    background: #fff;
}
.ico-detail .ico-title{
    font-size:24px;
    letter-spacing:1.83px;
    line-height:45px;
    padding:45px 15px 0;
}
.ico-detail .ico-content{
    padding:30px 0 45px;
}
.ico-content .col-xs-12{
    padding:0 60px;
}
.active .activeLine{
    background:#3ebcd0;
    border-radius:100px;
    max-width:135px;
    width:100%;
    height:6px;
    margin:0 auto;
}
.col-l-2{
    cursor: pointer;
}
.ico-content .t-detail.col-xs-12{
    padding:0 60px 0 0;
}
.t-detail .r-title,.t-owner .r-editor{
    font-size:18px;
    color:#0a8bc5;
    letter-spacing:0;
    line-height:30px;
}
.t-detail-wrapper{
    padding:0 0 55px 0;
}
.t-owner .r-editor{
    margin:10px 0 5px 0;
}
.t-detail .r-content{
    padding:15px 0 0 0;
    font-size:16px;
    color:#4a4a4a;
    letter-spacing:0;
    line-height:30px;
}
.t-owner i{
    font-size:25px;
    margin:0 4px;
}
i.weibo,i.weixin,i.qq{
    color:#cacaca;
    cursor: pointer;
}
i.weibo.active{
    color:#ed1b1b;
}
i.weixin.active{
    color:#64cc13;
}
i.qq.active{
    color:#4990e2;
}
.p-weibo .weibo-title,.p-qq .qq-title,.p-weixin .weixin-title{
    background:#ed1b1b;
    border-radius:6px;
    max-width:251px;
    width:100%;
    height:51px;
    font-size:24px;
    color:#ffffff;
    letter-spacing:12px;
    line-height:50px;
    text-align:center;
    margin:0 auto;
}
.p-qq .qq-title{
    letter-spacing: 6px;
    background: #4a90e2;
}
.p-weixin .weixin-title{
    letter-spacing: 6px;
    background: #64cc13;
}
.weibo-title i,.qq-title i,.weixin-title i{
    font-size:48px;
    float: left;
    margin: 0 -12px 0 12px;
}
.p-weibo img,.p-qq img,.p-weixin img{
    max-width:250px;
    border:1px solid #dedede;
    border-radius: 2px;
    width:100%;
    display: block;
    margin: 0 auto;
}
.weibo-next,.qq-next,.weixin-next{
    display: inline-block;
    color:#ed1b1b;
    font-size: 20px;
    width: 100%;
    text-align: center;
    margin:25px 0 20px 0;
    max-width:250px;
}
.qq-next{
    color:#4a90e2;
}
.weixin-next{
    color:#64cc13;
}
.code-wrapper{
    margin:90px 0 0 0;
}
.disabled>div{
    background: #ededed!important;
}
.disabled>i{
    color: #ededed!important;
}
.comment-title{
    background:#3ebcd0;
    width:95px;
    height:95px;
    border-radius:100%;
    font-size:18px;
    color:#ffffff;
    letter-spacing:0;
    line-height:95px;
    text-align: center;
}
.comment-detail textarea,.comment-list textarea{
    width:100%;
    height:120px;
    outline: none;
    border:1px solid #D1D1D1;
    padding:6px 12px;
    color: #333;
}
.comment-detail textarea::-webkit-input-placeholder,.comment-detail textarea::-moz-placeholder,.comment-detail textarea:-ms-input-placeholder{
    color:#D1D1D1;
}
.send-comment{
    text-align: right;
    margin-top:5px;
}
.cancel{
    display: inline-block;
    border:1px solid #3ebcd0;
    border-radius:3px;
    width:58px;
    height:24px;
    font-size:14px;
    color:#4a4a4a;
    letter-spacing:1px;
    line-height:23px;
    text-align:center;
    margin-right:4px;
    cursor: pointer;
}
.send{
    display: inline-block;
    background:#3ebcd0;
    border-radius:3px;
    width:60px;
    height:24px;
    font-size:14px;
    color:#ffffff;
    letter-spacing:1px;
    line-height:24px;
    text-align:center;
    cursor: pointer;
}
a.send:hover,a.send:focus{
    color:#fff;
}
.comment-round{
    float: left;
    width: 160px;
    font-size: 18px;
    color: #0a8bc5;
    letter-spacing: 0;
    line-height: 30px;
    position: relative;
    padding-left: 56px;
    height: 30px;
    overflow-y: hidden;
}
.comment-round::before{
    content:'';
    background:#3ebcd0;
    width:5px;
    height:5px;
    border-radius:5px;
    position: absolute;
    top: 50%;
    margin-top: -2.5px;
    left: 45px;
}
.comment-content{
    float:left;
    width:calc(100% - 160px);
}
.comment-list>div{
    margin:20px 0;
}
.sender{
    font-size:16px;
    color:#000000;
    letter-spacing:0;
    line-height:30px;
    overflow-y: hidden;
    position: relative;
    padding-bottom:10px;
}
.sender:before{
    content: '';
    width: 1px;
    height: 100%;
    background: #3ebcd0;
    position: absolute;
    left: 47px;
    top: 30px;
}
.replier{
    font-size:16px;
    color:#6c6c6c;
    letter-spacing:0;
    line-height:30px;
    overflow: auto;
    margin-bottom:10px;
}
.comment-wrapper{
    padding-bottom:10px;
}
.comment-num input{
    position: absolute;
    top: 0;
    left: 0;
    background: none;
    outline: none;
    border:none;
    width: 37px;
    height: 20px;
    text-align: center;
}
.comment-date{
    font-size:14px;
    color:#0a8bc5;
    letter-spacing:2.33px;
    text-align:left;
    line-height: 20px;
}
.comment-num{
    position: absolute;
    background: #3ebcd0;
    border-radius: 3px;
    width: 37px;
    height: 20px;
    left: 0;
    top: 50%;
    margin-top:5px;
    font-size: 14px;
    color: #ffffff;
    letter-spacing: 1px;
    line-height: 20px;
    text-align: center;
}
.listWrapper i{
    cursor: pointer;
}
.delete-wrapper{
    width: 60px;
    height: 20px;
    line-height: 16px;
    position: absolute;
    left: 68px;
    top: 50%;
    margin-top: 5px;
}
.comment-delete img{
    width: 20px;
    cursor: pointer;
}
#page{
    margin-top:25px;
    padding-left: 130px;
}
#page ul{
    -webkit-padding-start:0;
}
.surePay{
    display: inline-block;
    background:#3ebcd0;
    border-radius:6px;
    width:150px;
    height:36px;
    line-height: 37px;
    text-align: center;
    font-size:18px;
    color:#fff;
    letter-spacing:6px;
    text-align:center;
    margin:50px 0 45px 0;
    cursor: pointer;
}
.surePay:hover{
    color: #fff;
}
@media all and (min-width: 768px) {
    .col-l-2{
        float:left;
        width:20%;
    }
}
@media all and (min-width:992px) and (max-width: 1200px) {
    .p-weibo .weibo-title, .p-qq .qq-title, .p-weixin .weixin-title{
        letter-spacing: 3px;
    }
}
@media all and (min-width:992px) {
    .p-introduction{
        float:left;
        width:78%;
        padding-left:60px;
    }
    .invest-title{
        float:left;
        padding-left:60px;
    }
    .p-owner{
        width:22%;
        padding-right: 25px;
    }
    .t-owner{
        width:270px;
    }
    .t-detail{
        width:calc(100% - 270px);
    }
    .comment-title-wrapper{
        width:215px;
        padding: 13px 60px!important;
    }
    .comment-detail{
        width:calc(100% - 215px);
        padding-left:0!important;
    }
    .ico-progress .firstOne{
        padding:0 0 0 60px;
    }
    .ico-progress .secondOne{
        padding: 0 55px 0 65px;
    }
    .ico-detail .ico-title{
        padding:45px 35px 0;
    }
    .remainM{
        margin: 0 auto;
    }
}
@media all and (min-width:1200px) {
    .ico-progress .firstOne{
        padding:0 60px 0 60px;
    }
    .ico-detail .ico-title{
        padding:45px 10px 0;
    }
}
@media all and (min-width: 768px) and (max-width: 1200px) {
    #bannerSwiper,.topImg{
        margin-top:115px;
    }
}
@media all and (max-width:991px) {
    .ico-content .col-xs-12{
        padding:0 15px!important;
    }
    .remainM{
        margin:20px auto 0 auto;
    }
    .invest-content{
        width:100%;
    }
    .invest-title .in-title.none{
        line-height: 0;
    }
}
@media all and (max-width:767px){
    #page{
        padding-left: 0;
        margin-left:-12.5px;
    }
    .invest-content{
        border:none;
        margin-top:0;
    }
    .invest-content input{
        width:100%;
        border:1px solid #cacaca;
        margin:0 0 10px 0;
    }
    .invest-content input.inputPassword{
        width:100%;
        border:1px solid #cacaca;
        margin:0;
    }
    .invest-content select{
        width:100%;
        border:1px solid #cacaca;
        border-radius: 0;
        padding-left:15px;
        margin-bottom:10px;
    }
    .invest-content>div{
        width:100%;
        border:1px solid #cacaca;
    }
}


.squaredThree {
    width: 20px;
    position: relative;
    margin: 15px 4px 0 0;
}
.squaredThree label {
    width: 13px;
    height: 13px;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    background: #3ebcd0;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}
.squaredThree label:after {
    content: '';
    width: 9px;
    height: 5px;
    position: absolute;
    top: 3px;
    left: 2px;
    border: 2px solid #fcfff4;
    border-top: none;
    border-right: none;
    background: transparent;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
/*.squaredThree label:hover::after {*/
    /*filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);*/
    /*opacity: 0.3;*/
/*}*/
.squaredThree input[type=checkbox] {
    visibility: hidden;
}
.squaredThree input[type=checkbox]:checked + label:after {
    /*filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);*/
    opacity: 1;
}