body { background-color: #f6f6f6; font-family: "PingFangSC-Regular","PingHei","Lucida Grande","Lucida Sans Unicode","STHeitiSC-Light",Helvetica,"BBAlpha Sans","S60 Sans","Hiragino Sans GB",Arial,"Microsoft YaHei","Verdana",SimHei,STXihei,SimSun,"WenQuanYi Micro Hei",sans-serif; }

@font-face {
  font-family: 'iconfont';  /* project id 240203 */
  src: url('//at.alicdn.com/t/font_3p9qprevtr8dunmi.eot');
  src: url('//at.alicdn.com/t/font_3p9qprevtr8dunmi.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_3p9qprevtr8dunmi.woff') format('woff'),
  url('//at.alicdn.com/t/font_3p9qprevtr8dunmi.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_3p9qprevtr8dunmi.svg#iconfont') format('svg');
}

i { font-family:iconfont; font-style:normal }

body > .container { margin-top:55px }

a:focus, a:hover { text-decoration:none }

.fixed-width { width:1170px }

/*工具提示*/
.tooltip-inner { background:#3ebcd0; }
.tooltip.top .tooltip-arrow { border-top-color:#3ebcd0 }

/*导航栏*/
.navbar { min-height:55px; margin-bottom:0; }

.navbar .container { width:100%; max-width:1170px }

.navbar-default { background-color:#f6f6f6; border-bottom:3px solid #50e2e3; }

.navbar-brand > img { height:46px }

.navbar-brand { margin: 3px 28px 6px 0; padding:0; height:auto }

.navbar-default .navbar-nav > li > a { font-size:17px; color:#1c9dbf; letter-spacing:3px; padding:17px 15px 18px }

.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover { font-size:17px; color:#1c9dbf; }

.navbar-form .form-group { width:271px; height:39px; background: #dfeff6; border: 1.5px solid #50e2e3; border-radius: 100px; transition:width .2s }

.navbar-form .form-control { display:inline-block; height:36px; width: 230px; text-align:center; border-radius: 100px; background: #dfeff6; border:none; box-shadow:none; transition:width .2s }

.navbar-form button { background:none; border:none }

.navbar-right { margin-right:-30px }

div.navbar-right > * { display:inline-block }

.navbar-right ul { float:right }

.navbar-default .navbar-nav > li > a#settingBtn { letter-spacing:1px }

@media only screen and (max-width: 1200px) {
    .navbar-default .navbar-nav > li > a{ letter-spacing:2px}
    .navbar-form .form-group{width:240px}
    .navbar-form .form-control { width: 199px }
}
@media only screen and (max-width: 1080px) {
    .navbar-form .form-group{width:200px}
    .navbar-form .form-control { width: 159px }
}

@media only screen and (max-width: 980px) {
    .navbar form.navbar-form { display:none }
}
/*end 导航栏*/

/*footer*/
.cooperate { background:#474f59; font-size:18px; color:#fff }

.cooperate .col-md-2 { padding:25px 0; }

.cooperate .col-md-2 span { line-height:50px }

.footer-link { background:#23282e; }

.footer-link img { margin-top:-10px }

.footer-link .col-md-2 { padding:48px 0 0; font-size:16px; color:#cacaca; line-height:30px; }

.footer-link .col-md-2 *:first-child { font-size:18px; color:#fff; margin-bottom:6px; }

.copyright-text { font-size:18px; color:#fff; margin:52px auto 48px; }
/*end footer*/

/*用户中心 menu*/
.menu-left { height:1270px; margin:30px 0; padding:0; box-shadow:2px 0 10px 0 rgba(0,0,0,0.10); background:#fafafa; }

.menu-right { height:1270px; margin:30px 0; padding:0 60px 0 47px; background:#fff; }

.menu-left .user-center-text { background:#3ebcd0; height:45px; color:#fff; letter-spacing:1.5px; text-align:center; font-size:18px; line-height:45px }

.menu-left .user-center-text span { margin-left:15px }

.menu-left .avatar { text-align:center; }

.menu-left .avatar img { width: 125px; height: 125px; border-radius: 100%; margin:20px auto; }

.menu-left .user-name { background: #3ebcd0; height: 30px; line-height:30px; color:#fff; text-align:center; letter-spacing:1.25px; font-size:15px; }

.menu-left ul.menu-list { list-style:none; padding:0; margin:0 }

.menu-left ul.menu-list li { background:#f9f9f9; height:46px; padding:14px 0; border-bottom:1px solid #ededed; }

.menu-left ul.menu-list li a { color:#4a4a4a }

ul.menu-list li i, ul.menu-list li img { display:inline; position:absolute; left:33px; color:#3ebcd0; font-size:18px; line-height:21px }

ul.menu-list li { font-size: 14px; color: #4a4a4a; letter-spacing: 1.17px; text-align: center; }

ul.menu-list *:first-child div { font-size: 15px; color: #4a4a4a; letter-spacing: 1.25px; text-align: center; }
/*end 用户中心 menu*/

/*个人资料页面*/

.menu-right { height:1270px; margin:30px 0; padding:0 60px 0 47px; background:#fff; }

.menu-right header { width:87px; margin-bottom:10px; font-size: 16px; color: #4a4a4a; letter-spacing: 1.33px; padding-top:5px; line-height: 35px; text-align: center; }

.menu-right header hr { margin:0; height:5px; background:#3ebcd0; border:none; border-radius:3px }

.menu-right section { margin-bottom:10px }

.menu-right section .field { line-height: 45px; white-space:pre; font-size: 16px; font-weight:normal; color: #4a4a4a; letter-spacing: 1.33px; }

.menu-right section .field i { font-style:normal; margin-right:11px; color:#3ebcd0; line-height: 45px; font-size:20px; vertical-align:-1px }

.menu-right section .value { padding:0 15px; }

.placeholder label { margin:0 10px; line-height:45px; font-size: 15px; color: #4a4a4a; font-weight:normal; letter-spacing: 1.25px; }

.finished label { margin:0 10px;  line-height:45px; font-size: 15px; color: #4a4a4a; font-weight:normal; letter-spacing: 1px; }

.placeholder i, .edit i, .finished i { color:#3ebcd0; font-size:16px; vertical-align:3px; cursor:pointer }

.edit .form-control, .finished .form-control { line-height:18px; border-radius:0; font-size:15px; height:30px; overflow:hidden; width:auto; margin:8px 20px 0 0 }

.edit .form-control.multi-row, .finished .form-control.multi-row { height:120px; }

.edit textarea.form-control { width:100% }

.placeholder .form-control { display:none }

.placeholder label, .placeholder i { display:inline }

.edit .form-control, .edit i { display:inline }

.edit label { display:none }

.finished .form-control { display:none }

.finished label, .finished i { display:inline }

.placeholder label input[type="radio"] { margin-right:5px }

.placeholder label + label { margin-left:0 }

.edit textarea.auth-info { height:31px; text-align:left; font-size:14px; }

[readonly].auth-info { background:#f9f9f9; box-shadow:none; cursor:default }
.auth-info:focus { border-color:#ccc }

/*end 个人资料页面*/

/*认证图标*/
.no-auth, .auth { border-radius:10px; padding:2px 10px 2px 2px; color:#fff; line-height:45px }

.no-auth i, .auth i { font-family:"Microsoft YaHei"; background: #fff; margin-right: 4px; border-radius: 100%; line-height: 16px; width: 16px; height: 16px; display: inline-block; font-size: 12px; text-align:center; }

.no-auth { background:#f70e4c; }

.no-auth i { color: #f70e4c; }

.auth { background:#3ebcd0; }

.auth i { color: #3ebcd0; }

.auth-text { margin-top:20px; text-align:left; color:#3ebcd0; }

.auth-text i { margin-right:6px; vertical-align:-1px }
/*end 认证图标*/

button.save { margin:30px 7px 0;  background:#3ebcd0; width:150px; border-radius:8px; letter-spacing:6px; font-size:18px; }

/*安全中心*/
.value select.form-control { padding:3px 15px; width:198px }

.value.notice div { background:#f9f9f9; border:1px solid #cacaca; height:31px; margin-top:7px; padding:3px 15px }

.value.notice input { margin-right: 10px }

.value.notice label { font-weight:normal }
/*end 安全中心*/

/*实名认证*/
.auth-note { line-height: 45px; font-size: 15px; color: #4a4a4a; letter-spacing: 1.25px; }

.auth-result-true { font-size:15px; line-height:45px; text-align:left; color:#3ebcd0; }

.auth-result-false { font-size:15px; line-height:45px; text-align:left; color:#f70e4b; }

.auth-result-true i { margin-right:6px; vertical-align:-1px; color:#3ebcd0; }

.auth-result-false i { margin-right:6px; vertical-align:-1px; color:#f70e4b; }

.auth-note2 { font-size:12px; line-height:45px; color:#1d9dbf; }

.auth-note2 input { margin-right: 4px }

.auth-btn { background: #3ebcd0; border-radius: 3px; width: 86px; height: 26px; padding:0 }

.cert-upload { position:relative; margin:12px 20px 0 0; text-align:center; }

.cert-upload i.add-icon1, .cert-upload i.add-icon2 { position: absolute; left:50%; top: 0px; margin:30px 0 0 -12px;  font-size: 72px; color: #fff; }

.cert-upload1, .cert-upload2 { width: 250px }

#fileupload_div1, #fileupload_div2 { display:none }

.cert-upload .tooltip { top:20px !important }

.cert-text { font-size: 15px; color: #4a4a4a; letter-spacing: 1.25px; line-height: 30px; }
/*end 实名认证*/

/*模态框*/
.modal-content { box-shadow: none; border-radius:0; background:#f9f9f9 }

.modal-header { padding:15px 15px 0; border-bottom: none; font-size: 16px; color: #4a4a4a; letter-spacing: 1.33px; line-height: 45px; }

.modal-title { font-size:16px; width:122px; text-align:center }

.modal-header hr { width: 122px; text-align: left; background-color: #41b9d1; margin: 5px 0; height: 6px; border: none; border-radius: 3px }

.modal-header .close { color: #1d9dbf; opacity: 1; font-weight: normal; font-size: 28px }

.modal-body { padding:7px 30px }

.modal-body > div { margin:14px 0; width: 100%; }

.modal-body input[type='text'],.modal-body input[type='password'] { padding:0 12px; border-radius:0; box-shadow:none; border: 1px solid #cacaca; width: 100%; height: 39px; }

.modal-body  > div.modal-alert { margin:0; line-height:45px; color:#3ebcd0; font-size:12px; }

.modal-body  > div.modal-alert i { margin:0; margin-right:8px; font-size:16px; color:#3ebcd0; }

.btn-change, .btn-cancel { width: 60px; height: 26px; padding:0; border-radius: 3px; font-size: 14px; letter-spacing: 1px; line-height: 18px; text-align: center; }

.btn-change { background: #3ebcd0; color: #fff;  }

.btn-change:hover, .btn-change:focus { color: #fff; }

.btn-cancel { background: #fff; border: 1px solid #3ebcd0; color:#4a4a4a; }

.modal-footer { border-top:none; text-align:center; padding:19px 30px 45px }

.verification-code img { position:absolute; width:190px; margin-left:-190px; height: 39px;  border: 1px solid #cacaca;  }

.phone-code .btn { position:absolute; border-radius:0; color:#fff; background:#41b9d1; width:190px; margin-left:-190px; height: 39px;  }

/*end 模态框*/

/*表格*/
.table { margin-top:17px; border:1px solid #ededed;}
.table > thead > tr > th { line-height:28px; font-size:16px; font-weight:normal; background-color: #f9f9f9; }
.table-striped > tbody > tr:nth-of-type(2n) { background-color: #f9f9f9; }
.table-striped > tbody > tr:nth-of-type(2n+1) { background-color: #fff; }
.table > tbody > tr > td { line-height:20px; border-top:none }
.table > thead > tr > th{border-bottom:none}
.table > tbody tr > td > i { margin:0 15px 0 }
.table > tbody tr > td.text-left{ padding-left:50px ; width:26%}
.table > tbody tr > td > a { color:#3ebcd0; margin-right: 10px }
.table > tbody tr > td > span.green { color:#3ebcd0; }
/*end 表格*/

/*充值页面*/
.recharge-div { margin-top:18px; background: #f9f9f9; border: 1px solid #ededed; }
.recharge-div .col-md-8{ padding:53px 30px}
.recharge-div .your-address { font-size: 16px; color: #4a4a4a; letter-spacing: 1.33px; line-height: 45px; text-align: left; }
.recharge-div .btc-address { background: #ffffff; padding:0 20px; border: 1px solid #cacaca; height: 43px; font-size: 18px; color: #0a8bc5; letter-spacing: 1.33px; line-height: 45px; }
.recharge-alert  { margin-top:18px; padding:75px 45px; line-height:45px; background: #f9f9f9; border: 1px solid #ededed; }
.recharge-alert .auth-text{ font-size:15px; margin-top:0}
.recharge-alert .auth-text a{ margin:0 2px; color:#f70e4b;}

#btc_qrcode canvas{width:100%}
.qrcode-border{ float:right; max-width:200px; margin:20px; background-color:#fff; border:1px solid #ededed; padding:10px; }
/*end 充值页面*/

/*提现页面*/
.withdraw-note { font-size: 16px; color: #4a4a4a; letter-spacing: 1.33px; line-height: 45px; }
.withdraw-note ol { padding-left: 30px; font-size: 15px; color: #1d9dbf; letter-spacing: 0; line-height: 45px; }
.withdraw-assets .balance{ padding:0 15px; font-size:14px; line-height:30px; border:1px solid #cacaca; height:30px; margin:8px 0 0 -1px }
.withdraw-assets .balance-value{color:#0a8bc5;}
.withdraw-assets.edit select.form-control{ margin:8px 0 0 0; width:100%;}
.edit .form-control.withdraw-input{width:100%}
.withdraw-phone-code .btn { position: absolute; border-radius: 0; color: #fff; background: #41b9d1; width: 190px; height: 30px; right: 15px; margin-top: -30px; padding: 0; }

/*end 提现页面*/

/*富文本编辑器*/
#editor { height: 318px; border-radius:0; background: #ffffff; }
#editor i { font-style:italic }
/*end 富文本编辑器*/

/*项目发起页面*/
.website{font-size:15px}
.new-project-img { width:100%; background: #ededed; border: 1px solid #cacaca; height: 328px; }
.project-img-div{position:relative}
.project_add-icon{ position:absolute; cursor:pointer; font-size:80px; line-height:80px; color:#fff; top:50%; left:50%; margin:-40px 0 0 -40px; }
.menu-right section .field-alert { text-align: center; font-size: 15px; color: #1d9dbf; }
.menu-right section .field-required { text-align: right; font-size: 15px; color: #1d9dbf; }
/*end项目发起页面*/