body { background-color:#f6f6f6 }

@font-face {
  font-family: 'iconfont';  /* project id 240203 */
  src: url('http://at.alicdn.com/t/font_4b6b0785v35cow29.eot');
  src: url('http://at.alicdn.com/t/font_4b6b0785v35cow29.eot?#iefix') format('embedded-opentype'),
  url('http://at.alicdn.com/t/font_4b6b0785v35cow29.woff') format('woff'),
  url('http://at.alicdn.com/t/font_4b6b0785v35cow29.ttf') format('truetype'),
  url('http://at.alicdn.com/t/font_4b6b0785v35cow29.svg#iconfont') format('svg');
}

i { font-family:iconfont; font-style:normal }

body > .container { margin-top:55px }

a:focus, a:hover { text-decoration:none }

/*工具提示*/
.tooltip-inner { background:#3ebcd0; }
.tooltip.top .tooltip-arrow { border-top-color:#3ebcd0 }

/*导航栏*/
.navbar { min-height:55px; margin-bottom:0; }

.navbar-default { background-color:#f6f6f6; border-bottom:3px solid #50e2e3; }

.navbar-brand > img { height:46px }

.navbar-brand { margin: 3px 38px 6px 0; padding:0; height:auto }

.navbar-default .navbar-nav > li > a { font-size:17px; color:#1c9dbf; letter-spacing:5px; padding:17px 15px 18px }

.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover { font-size:17px; color:#1c9dbf; letter-spacing:5px; }

.navbar-form .form-group { width:271px; height:40px; background: #dfeff6; border: 2px solid #50e2e3; border-radius: 100px; }

.navbar-form .form-control { display:inline-block; height:36px; width: 230px; text-align:center; border-radius: 100px; background: #dfeff6; border:none; box-shadow:none }

.navbar-form button { background:none; border:none }

.navbar-right { margin-right:-30px }

div.navbar-right > * { display:inline-block }

.navbar-right ul { float:right }
/*end 导航栏*/

/*footer*/
.cooperate { background:#474f59; font-size:18px; color:#fff }

.cooperate .col-md-2 { padding:25px 0; }

.cooperate .col-md-2 span { line-height:50px }

.footer-link { background:#23282e; }

.footer-link img { margin-top:-10px }

.footer-link .col-md-2 { padding:48px 0 0; font-size:16px; color:#cacaca; line-height:30px; }

.footer-link .col-md-2 *:first-child { font-size:18px; color:#fff; margin-bottom:6px; }

.copyright-text { font-size:18px; color:#fff; margin:52px auto 48px; }
/*end footer*/

/*用户中心 menu*/
.menu-left { height:1270px; margin:30px 0; padding:0; box-shadow:2px 0 10px 0 rgba(0,0,0,0.10); background:#fafafa; }

.menu-right { height:1270px; margin:30px 0; padding:0 60px 0 47px; background:#fff; }

.menu-left .user-center-text { background:#3ebcd0; height:45px; color:#fff; letter-spacing:1.5px; text-align:center; font-size:18px; line-height:45px }

.menu-left .user-center-text span { margin-left:15px }

.menu-left .avatar { text-align:center; }

.menu-left .avatar img { width: 125px; height: 125px; border-radius: 100%; margin:20px auto; }

.menu-left .user-name { background: #3ebcd0; height: 30px; line-height:30px; color:#fff; text-align:center; letter-spacing:1.25px; font-size:15px; }

.menu-left ul.menu-list { list-style:none; padding:0; margin:0 }

.menu-left ul.menu-list li {  background:#f9f9f9; height:46px; padding:14px 0; border-bottom:1px solid #ededed; }

ul.menu-list li i, ul.menu-list li img { display:inline; position:absolute; left:33px; color:#3ebcd0; font-size:18px; line-height:21px }

ul.menu-list li { font-size: 14px; color: #4a4a4a; letter-spacing: 1.17px; text-align: center; }

ul.menu-list *:first-child div { font-size: 15px; color: #4a4a4a; letter-spacing: 1.25px; text-align: center; }

.fixed-width { width:1170px }
/*end 用户中心 menu*/

/*个人资料页面*/

.menu-right { height:1270px; margin:30px 0; padding:0 60px 0 47px; background:#fff; }

.menu-right header { width:87px; margin-bottom:10px; font-size: 16px; color: #4a4a4a; letter-spacing: 1.33px; padding-top:5px; line-height: 35px; text-align: center; }

.menu-right header hr { margin:0; height:5px; background:#3ebcd0; border:none; border-radius:3px }

.menu-right section { margin-bottom:10px }

.menu-right section .field { line-height: 45px; white-space:pre; font-size: 16px; font-weight:normal; color: #4a4a4a; letter-spacing: 1.33px; }

.menu-right section .field i { font-style:normal; margin-right:11px; color:#3ebcd0; line-height: 45px; font-size:20px; vertical-align:-1px }

.menu-right section .value { padding:0 15px; }

.placeholder label { margin:0 10px; line-height:45px; font-size: 15px; color: #4a4a4a; font-weight:normal; letter-spacing: 1.25px; }

.finished label { margin:0 10px;  line-height:45px; font-size: 15px; color: #4a4a4a; font-weight:normal; letter-spacing: 1px; }

.placeholder i, .edit i, .finished i { color:#3ebcd0; font-size:16px; vertical-align:3px; cursor:pointer }

.edit .form-control, .finished .form-control { border-radius:0; font-size:15px; height:30px; overflow:hidden; width:auto; margin:8px 20px 0 0 }

.edit .form-control.multi-row, .finished .form-control.multi-row { height:120px; }

.edit textarea.form-control { width:100% }

.placeholder .form-control { display:none }

.placeholder label, .placeholder i { display:inline }

.edit .form-control, .edit i { display:inline }

.edit label { display:none }

.finished .form-control { display:none }

.finished label, .finished i { display:inline }

.placeholder label input[type="radio"] { margin-right:5px }

.placeholder label + label { margin-left:0 }

.edit textarea.auth-info { height:31px; text-align:left; font-size:14px; }

[readonly].auth-info { background:#f9f9f9; box-shadow:none; cursor:default }
.auth-info:focus { border-color:#ccc }

/*end 个人资料页面*/

/*认证图标*/
.no-auth, .auth { border-radius:10px; padding:2px 10px 2px 2px; color:#fff }

.no-auth i, .auth i { font-family:"Microsoft YaHei"; background: #fff; margin-right: 4px; border-radius: 100%; line-height: 16px; width: 16px; height: 16px; display: inline-block; font-size: 12px; text-align:center; }

.no-auth { background:#f70e4c; }

.no-auth i { color: #f70e4c; }

.auth { background:#3ebcd0; }

.auth i { color: #3ebcd0; }

.auth-text { margin-top:20px; text-align:left; color:#3ebcd0; }

.auth-text i { margin-right:6px; vertical-align:-1px }
/*end 认证图标*/

button.save { margin-top:30px; background:#3ebcd0; width:150px; border-radius:8px; letter-spacing:6px; font-size:18px; }

